body{
    background-color: #ffffcc;
    color: #330000;
    font-family: "Verdana";
}

#title{
    background-color: #ccaa66;
    text-align: center;
    border-style: solid;
}

#footer{
    background-color: #ccaa66;
    font-style: italic;
    text-align: center;
    height: 90px;
    width: 750px;
    margin-top: 300px;
    border-top-style: solid;
    padding: 10px;
    width: auto;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
}

#leftnavcolumn{
    background-color: #E8D882;
    position: relative;
    float: left;
    width: 18.3%;
    height: 295px;
    border-left-style: solid;
    padding-top: 5px;
    font-size: 16px;
    padding-left: 19px;
    white-space: pre-line;
}

#rightmain{
    background-color: #f1e8b0;
    position: relative;
    float: right;
    width: 77%;
    height: 280px;
    border-right-style: solid;
    padding-left: 20px;
    padding-top: 20px;
    overflow: hidden;

}

section{
    scroll-snap-align: top;
}

#container{
    border-top-style: solid;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 25%;
    height: 500px;
    width: 60%;
    background-color: #f1e8b0;
}

img{
    float: right;
    position: absolute;
    right: 20px;
    top: 80px;
    width: 200px;
}

.directory{
    text-decoration: none;
}

.email{
    color: darkorchid;
}

a:visited{
    color: darkorchid;
}

table{
    background-color: white;
    margin: 10px;
    padding: 5px;
    height: 200px;
}

#thcolor{
    background-color: #ccaa66;
}

h3{
    margin: 0px;
    width: 50%;
}

#noncoffee{
    float:right;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
}

#coffee{
    float:left;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
}

#c{
    float: left;
}

#nc{
    float: right;
}

h6{
    margin: 5px;
}

#musicplayer{
    text-align: center;
}

audio{
    width: 90%;
}

h2{
    text-align: center;
    margin: 5px;
    padding: 0px;
}

.jobmail{
    text-align: center;
}

@media screen and (min-width: 1001px) {
    .container {
      margin: 0;
      padding: 0;
      width: auto;
      max-width: 1100px;
      margin: auto;
      height: max-content;
    }
    .logo h1 {
      font-size: 1.3rem;
    }
    .leftcolumn {
      display: flex;
      flex-direction: column;
      height: auto;
      width: auto;
      font-size: 1.3rem;
    }
    .rightcolumn {
      float: none;
      height: 400px;
      width: auto;
      padding: 5px;
    }
    .footer {
      font-size: 16px;
      padding-top: 5px;
      width: auto;
      margin: 0;
    }
    .content img {
      float: right;
      display: flex;
      margin: auto;
      max-width: 100%;
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
    }
    .content {
      float: none;
      position: relative;
      font-size: 1.3rem;
    }
    .navBar {
      margin: 20px;
    }
    .wholecolumn {
      display: flex;
      flex-direction: row;
    }
  }
  @media screen and (max-width: 1000px) {
    .container {
      margin: 0;
      padding: 0;
      width: auto;
      height: fit-content;
    }
    .logo h1 {
      font-size: 20px;
    }
    .leftcolumn {
      display: flex;
      flex-direction: column;
      height: auto;
      width: auto;
    }
    .rightcolumn {
      float: none;
      height: 300px;
      width: auto;
      padding: 5px;
    }
    .footer {
      font-size: 16px;
      padding-top: 5px;
      width: auto;
      margin: 0;
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
    }
    .content {
      float: none;
      position: relative;
    }
    .navBar {
      margin: 20px;
      text-align: center;
    }
    .wholecolumn {
      display: flex;
      flex-direction: row;
    }
  }
  @media screen and (max-width: 870px) {
    .logo h1 {
      font-size: 22px;
    }
    .rightcolumn {
      height: auto;
      width: auto;
      padding: 5px;
    }
    .footer {
      font-size: 16px;
      padding-top: 5px;
      width: auto;
      margin: 0;
    }
    .content img {
      float: none;
      display: flex;
      margin: auto;
      max-width: 100%;
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
    }
  }
  @media screen and (max-width: 600px) {
    .logo h1 {
      font-size: 16px;
    }
    .leftcolumn {
      flex-direction: row;
      justify-content: space-between;
      float: none;
      border-bottom: solid;
    }
    .navBar {
      margin: 10px;
    }
    .wholecolumn {
      display: block;
    }
  }
  @media screen and (max-width: 360px) {
    .leftcolumn {
      flex-wrap: wrap;
    }
    .footer {
      font-size: 12px;
    }
  }